:root {
  --principal-color: rgb(50, 189, 94);
  --secondary-color: rgb(157, 255, 188);
  --third-color: rgb(32, 134, 65);

  --article-bg: #2b2b2b;
  --bg-color: #1e1e1e;
  --text-color: #fff;
}

/*-*/

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

body {
  user-select: none;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: var(--text-color);
  text-align: justify;
}

header {
  background-color: rgb(0, 0, 0);
  display: grid;
}

.account-nav-icon {
  width: 25px;
  margin-right: 5px;
  vertical-align: middle;
  filter: hue-rotate(10deg);
}

.material-tarea {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.material-tarea-btn {
  margin: 0px 0px 15px 0px;
}

.separation-line-1 {
  border: 1px solid var(--principal-color);
}
.separation-line-2 {
  border: 2px solid var(--principal-color);
}
.separation-line-3 {
  border: 10px dotted var(--principal-color);
}
.separation-line-4 {
  border: 4px solid var(--principal-color);
}
.separation-line-5 {
  border: 5px solid var(--principal-color);
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--article-bg);
}

.nav-li {
  float: left;
}

.nav-li a {
  display: block;
  color: white;
  text-align: center;
  padding: 40px 13px 24px 13px;
  margin: 0 10px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
  height: 100%;
  transition: 0.8s ease;
}

.active {
  background-color: var(--principal-color);
}

.nav-li .active:hover {
  background-color: #283f21;
  color: #fff,
}

/* Change the link color to #111 (black) on hover */
.nav-li a:hover {
  background-color: var(--bg-color);
  border-radius: 30px;
  color: var(--principal-color);
  font-size: 1.8vh;
  transition: 0.3s ease;
}

.noodle-emoji2 {
  position: absolute;
  display: block;
  top: 210px;
  right: 80px;
  rotate: 25deg;
  width: 100px;
  animation: flotar 4s ease-in-out infinite;
  transition: 1s;
  cursor: pointer;
}

.noodle-emoji1 {
  position: absolute;
  display: block;
  top: 220px;
  left: 80px;
  rotate: -25deg;
  width: 80px;
  cursor: pointer;
  
  animation: flotar 3s ease-in-out infinite;
  transition: 1s;
}

.noodle-emoji1:hover {
  rotate: 250deg;
  scale: 1.4;
  filter: blur(1px) hue-rotate(50deg);
  transition: 1.5s ease;
}

.noodle-emoji2:hover {
  rotate: -250deg;
  scale: 1.5;
  filter: blur(1px) hue-rotate(50deg);
  transition: 1s ease;
}

@keyframes flotar {
  0% {
      transform: translateY(0px)  rotate(0deg) scale(1);
  }
  50% {
      transform: translateY(-20px) rotate(15deg) scale(1.1);
  }
  100% {
      transform: translateY(0px)  rotate(0deg) scale(1);
  }
}


.calendar-article {
  max-width: 900px;
}

.calendar {
  width: 100%;
  height: 600px;
}

p {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--text-color);
}

h1 {
  font-size: 115px;
  width: 100%;
  height: auto;
  text-align: center;
  color: var(--principal-color);
  transition: 1s ease-out;
}

h1:hover {
  color: var(--third-color);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  filter: blur(1px);
  scale: 0.95;
  transform: rotateX(12deg) rotateY(12deg);
}

h2 {
  font-size: 35px;
  width: 100%;
  height: auto;
  text-align: center;
  color: var(--principal-color);
}

h3 {
  font-size: 25px;
  color: var(--secondary-color);
}

article {
  padding: 10px 30px;
  background-color: var(--article-bg);
  border-radius: 20px;
  max-width: 700px;
  margin: 25px auto;
  cursor: pointer;
  transition: 1s;
}

article:hover {
  scale: 1.02;
  box-shadow: 0px 0px 25px #0000004d;
  transition: 0.5s;
}

footer {
  background-color: var(--principal-color);
  display: block;
  text-align: center;
  margin: 0;
  padding: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.account-inputs-box {
  display: flex;
  flex-direction: column;
  width: 95%;
  justify-content: center;
}

.account-input {
  background-color: #fff;
  border-radius: 10px;
  border: solid 3px var(--principal-color);
  padding: 5px 0px 5px 10px;
  color: var(--principal-color);
  font-weight: bold;
  transition: 0.5s ease;
  font-size: 16px;
  width: 100%;
  height: 30px;
}

.account-input:hover {
  background-color: #bdd2bd;
  border: solid 3px var(--third-color);
  color: #000000;
  transition: 0.2s ease;
}

.login-btn {
  width: 250px;
  height: 45px;
  font-size: 15px;
  margin-top: 30px;
}


.account-article {
  max-width: 450px;
}

.blog-post {
  display: flex;
  justify-content: space-between;
}

.blog-date {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: var(--principal-color);
  margin: 20px 0px 0px 50px;
}

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: var(--principal-color);
}

::selection {
  color: #fff;
  background: var(--principal-color);
}

a {
  color: var(--principal-color);
}

.btn-article {
  background-color: var(--third-color);
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.6s ease;
  border: solid 1px var(--principal-color);
  cursor: pointer;
}

.btn-article:hover {
  background-color: var(--principal-color);
  transition: 1s ease;
  padding: 12px 30px;
}

.rayelus-logo:hover {
  filter: blur(1px);
  transition: 1s;
  scale: 1.1;
  transform: rotateX(15deg) rotateY(15deg);
}

.rayelus-logo {
  filter: blur(0);
  transition: 2s;
}

.icon {
  width: 28px;
  margin-right: 5px;
}

.icon-blog {
  width: 30px;
}

@media screen and (min-width: 1100px) {
  .noodle-emoji2 {
    position: absolute;
    display: block;
    top: 210px;
    right: 100px;
    rotate: 25deg;
    width: 170px;
  }
  
  .noodle-emoji1 {
    position: absolute;
    display: block;
    top: 220px;
    left: 100px;
    rotate: -25deg;
    width: 170px;
    
  }
}

@media screen and (max-width: 800px) {

  h1 {
    font-size: 95px;
  }
  .rayelus-logo-div {
    display: none;
  }

  .account-article {
    max-width: 500px;
  }

  article {
    max-width: 500px;
  }

  .blog-post h3 {
    font-size: 18px;
    text-align: left;
  }
  .icon {
    width: 22px;
    margin-right: 5px;
  }
  .icon-blog {
    width: 22px;
    margin-right: 5px;
  }
  .calendar-article {
    max-width: 600px;
  }
  .calendar {
    width: 100%;
    height: 500px;
  }

  .noodle-emoji2 {
    position: absolute;
    display: block;
    top: 225px;
    right: 20px;
    rotate: 25deg;
    width: 80px;
  }
  
  .noodle-emoji1 {
    position: absolute;
    display: block;
    top: 230px;
    left: 10px;
    rotate: -25deg;
    width: 70px;
    
  }
}

@media screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }

  .account-nav-icon {
    width: 15px;
    margin-right: 3px;
  }

  .account-article {
    max-width: 400px;
  }

  article {
    max-width: 400px;
  }

  h1 {
    font-size: 50px;
  }
  .icon {
    width: 20px;
  }
  .icon-blog {
    width: 20px;
  }
  .blog-date {
    font-size: 10px;
  }

  .blog-post h3 {
    font-size: 18px;
    text-align: left;
  }

  p {
    font-size: 13px;
  }
  .btn-article {
    font-size: 13px;
  }

  .nav-li a {
    font-size: 10px;
    padding: 40px 10px 40px 10px;
    margin: 0;
  }

  .rayelus-logo-div {
    display: none;
  }

  .calendar-article {
    max-width: 420px;
  }

  .calendar {
    width: 100%;
    height: 400px;
  }

  .noodle-emoji2 {
    position: absolute;
    display: block;
    top: 160px;
    right: 120px;
    rotate: 25deg;
    width: 50px;
  }
  
  .noodle-emoji1 {
    position: absolute;
    display: block;
    top: 170px;
    left: 120px;
    rotate: -25deg;
    width: 40px;
    
  }
  
}

@media screen and (max-width: 500px) {

  body {
    text-align: left;
  }

  article {
    max-width: 325px;
  }

  .account-nav-icon {
    width: 15px;
    margin-right: 4px;
  }

  .account-input {
    font-size: 13px;
  }

  .account-article {
    max-width: 350px;
  }

  h2 {
    font-size: 25px;
  }

  .account-subtitle {
    font-size: 17px;
  }

  .icon-blog {
    display: none;
  }

  .calendar-article {
    max-width: 360px;
    padding: 20px;
  }

  .calendar {
    width: 100%;
    height: 400px;
  }

  .noodle-emoji2 {
    position: absolute;
    display: block;
    top: 160px;
    right: 10px;
    rotate: 25deg;
    width: 50px;
  }
  
  .noodle-emoji1 {
    position: absolute;
    display: block;
    top: 170px;
    left: 10px;
    rotate: -25deg;
    width: 40px;
    
  }
}

@media screen and (max-width: 350px) {
  .account-article {
    max-width: 100%;
  }
}